[flake8]

max-line-length = 100

# E731: do not assign a lambda expression, use a def
# W503: line break before binary operator
ignore = E731, W503

exclude =
    .venv,
    .git,
    __pycache__,
    .pytest_cache,
    .hypothesis
